.header-tattoo {
    height: 55vh;
    background-image: linear-gradient(to right bottom, rgba(36, 36, 36, 0.9), rgba(0, 0, 0, 0.17)), url('/assets/images/studio.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: 100% 10%;
    align-items: center;
    
    @include nav;

    .tattoo-title {
        margin-top: 5rem;
        font-size: 2.2rem;
        @include text-shadow();
    }
}