// Colors
$dark-black: #0f0f0f;
$text-white: #efefef;
$green: #3e7f80;

// Fonts
$styled-text: 'Righteous', cursive;
$regular-text:'Montserrat', sans-serif;

// Grid
$gap: 1rem;
$num-cols: 4;
$row-height: 300px;